<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>双向绑定在探索</title>
</head>
<body>
	<div id="app">
		<form>
	        <input type="text" v-model="name.age.value" />
	        <input type="text" v-model="name.value" />
	        <button type="button" v-click="increment">increment</button>
	        <button type="button" v-click="alert">alert</button>
	    </form>
	    <p v-bind="name.age.value"></p>
	    <p v-bind="name.value"></p>
	    <p style="background-color: red; color: #fff;">{{name.value}}</p>
	</div>
</body>
<script type="text/javascript">

	// 指令函数
	function Directive(name, el, fm, exp, attr){
		this.name = name; // 指令名称
		this.el = el; // 指令对应的dom
		this.fm = fm;  // 指令对应的fue实例
		this.exp = exp;  // 指令对应的表达式
		this.attr = attr;  // 绑定的属性值

		this.update(); // 第一次绑定时调用
	}
	
	Directive.prototype.update = function(){
		this.el[this.attr] = this.fm.$data.$get(this.exp);
	}

	function Fue(options){
		this._init(options);
	}
	// 初始化函数，主要是为了把传进来的配置挂在实例上
	Fue.prototype._init = function(options){
		this.$options = options;
		this.$el = document.querySelector(options.el);
		this.$data = options.data;
		this.$methods = options.methods;

		// 对象深沉次属性的取值和修改
		Object.prototype.$get = function(keyPath){
			var getter = new Function('return this.' + keyPath);
			return getter.call(this);
		}

		Object.prototype.$set = function(keyPath, val){
			var setter = new Function('newVal', 'this.' + keyPath + ' = newVal')
			setter.call(this,val);
		}
		// 用于存储与dom绑定的数据属性
		// todo://
		this._binding = {};
		// 劫持所有的属性
		this._observer(this.$data);
		// 解析模版将解析出来的指令和绑定的数据集合存在上面的binding对象中去。
		this._compile(this.$el);
	}

	// 劫持属性的私有方法
	Fue.prototype._observer = function(obj, keyPath){
		var OBJECT = 0, DATA = 1;

		var value;

		var keyPath = keyPath || '';

		for(var key in obj){
			if(obj.hasOwnProperty(key)){
				this._binding[keyPath + key] = {
					_directives: []
				};

				value = obj[key];

				if(typeof value === 'object'){
					this.convert(obj, key, value, keyPath + key, OBJECT);
					this._observer(value, keyPath + key + '.');
				}else{
					this.convert(obj, key, value, keyPath + key, DATA);
				}
			}
		}
	}

	// 对属性重写
	Fue.prototype.convert = function(obj, key, value, originPath, type){
		console.log(value);
		var binding = this._binding[originPath];
		// 判断是不是当前属性的值是对象，不是对象直接就是值的话进去
		if(type == 1){
			Object.defineProperty(obj, key, {
				get: function(){
					console.log(`获取${value}`);
					return value;
				},
				// 新值改变会触发对应的指令集合执行对应的更新，但是这里是直接遍历了整个集合
				// 所以这个可能比较伤。
				set: function(newVal){
					console.log(`更新${newVal}`);
					if(value !== newVal){
						value = newVal;
						// 这里就是遍历执行指令集合了。
						binding._directives.forEach(function(item){
							item.update();
						});
					}
				}
			});
		}else{  // 如果是对象

 			var subObj = obj[key] || {};
			Object.defineProperty(obj, key, {
				get: function(){
					console.log(`获取${value}`);
					return value;
				},
				set: function(newVal){
					console.log(`更新${newVal}`);
					if(typeof newVal === 'object'){
						for(var subKey in newVal){
							subObj[subKey] = newVal[subKey];
						}	
					}else{
						subObj = newVal;
						binding._directives.forEach(function(item){
							item.update();
						});
					}
				}
			});
		}
	}
	// 解析模版
	Fue.prototype._compile = function(rootElem){
		var self = this;

		var nodes = rootElem.children;

		for(var i = 0; i < nodes.length; ++i){
			var node = nodes[i];
			// 当前元素有子节点的时候
			if(node && node.children.length){
				self._compile(node);
			}
			console.log(node);
			//  绑定的点击事件指令
			if(node.hasAttribute('v-click')){
				node.addEventListener('click', (function(i){
					var attrValue = nodes[i].getAttribute('v-click');
					/*
					 *	/\(.*\)/.exec("num('adf','sdf')");
					 *	["('adf','sdf')"]
					 */
					var args = /\(.*\)/.exec(attrValue);
					if(args){
						args = args[0];
						var attrValue = attrValue.replace(args,'');
						args = args.replace(/[\(\)\'\"]/,'').split(',');
					}else{
						args = [];
					}
					return function(){
						self.$methods[attrValue].apply(self.$data, args);
					} 
				})(i));
			}

			// 绑定的v-model,如果是input或者textarea标签
			if(node.hasAttribute('v-model') && node.tagName == 'INPUT' || node.tagName == 'TEXTAREA'){	
				node.addEventListener('input', (function(key){
					var attrValue = node.getAttribute('v-model');
					self._binding[attrValue]._directives.push(new Directive(
							"input",
							node,
							self,
							attrValue,
							'value'
						));

					return function(){
						self.$data.$set(attrValue, nodes[key].value);
					}
				})(i));
			}
			// 手动绑定的方式。就是innerHTML操作
			if(node.hasAttribute('v-bind')){
				var attrValue = node.getAttribute('v-bind');
				// 将innerHTML更新的指令加进去
				self._binding[attrValue]._directives.push(new Directive(
					'text',
					node,
					self,
					attrValue,
					'innerHTML'
					));
			}
			// 直接绑定的值，有毒
			if(/\{\{(.*)\}\}/.test(node.innerHTML)){
				if(/\{\{(.*)\}\}/.test(node.innerHTML)){
					// 这个就是为了去除表达式两边的空格
					var attrValue = RegExp.$1.trim();
				}
				console.log(attrValue);
				// 将innerHTML更新的指令加进去
				self._binding[attrValue]._directives.push(new Directive(
					'text',
					node,
					self,
					attrValue,
					'innerHTML'
					));
			}
		}
	}

	window.onload=function(){
        var app=new Fue({
            el:"#app",
            data:{
                count:0,
                name:{
                    value:'fanchao',
                    age:{
                        value: 18
                    }
                }
            },
            methods:{
                increment:function(){
                    this.name.age.value++;
                },
                alert:function(){
                    alert(this.name.value)
                }
            }
        })

        console.log(app);
    }
</script>
</html>